@page "/products"
@using Application.DTOs.Responses
@using Application.Interfaces.Services
@inject IProductService ProductService
 
<h3>Products</h3>
 
@if (products == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var p in products)
    {
        <div>@p.Name - @p.Price</div>
    }
}
 
@code {
    private List<ProductResponse>? products;
 
    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllAsync();
    }
}